commands:
  composer_update:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

files:
  "/etc/php.d/myfamily.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize = 58M
      post_max_size = 64M


option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
  01-install_composer:
    command: "curl -s http://getcomposer.org/installer | php"
    cwd: "/var/app/ondeck"
  02-install_dependencies:
    command: "php composer.phar install -o"
    cwd: "/var/app/ondeck"
  03-cache_routes:
    command: "php artisan route:cache"
    cwd: "/var/app/ondeck"
  04-cache_config:
    command: "php artisan config:cache"
    cwd: "/var/app/ondeck"
  04-set_permissions:
    command: 'chmod 777 -R storage bootstrap/cache'
    cwd: "/var/app/ondeck"