commands:
  composer_update:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
  01-install_composer:
    command: "curl -s http://getcomposer.org/installer | php"
    cwd: "/var/app/ondeck"
  02-install_dependencies:
    command: "php composer.phar install"
    cwd: "/var/app/ondeck"
  03-cleanup_composer:
    command: "rm -Rf composer.*"
    cwd: "/var/app/ondeck"
  04-artisan_cache_routes:
    command: "php artisan route:cache"
    cwd: "/var/app/ondeck"
  05-artisan_cache_config:
    command: "php artisan config:cache"
    cwd: "/var/app/ondeck"
  06-wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
