commands:
  composer_update:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
  01-install_composer:
    command: "curl -s http://getcomposer.org/installer | php"
    cwd: "/var/app/ondeck"
  02-install_dependencies:
    command: "php composer.phar install"
    cwd: "/var/app/ondeck"
  07-set_permissions:
    command: 'chmod 777 -R storage bootstrap/cache'
    cwd: "/var/app/ondeck"